
.hoverLakeBright_isClosed {
    display:none;
}

.hoverLakeBright_isOpened { }

.hoverLakeBright_toggle-button {
    margin-left:5px;
}

.hoverLakeBright_nav-ul {
    padding:0;
    margin:0;
    list-style:none;
}

.hoverLakeBright_nav-ul li a {
    text-decoration: none;
}

.hoverLakeBright_nav-ul li a:hover {
    text-decoration: none;
}

.hoverLakeBright_nav-ul li a:visited {
    text-decoration: none;
}

.hoverLakeBright_parent-li {
    float:left;
    padding:0;
}

.hoverLakeBright_child-li {
    position:relative;
    white-space:nowrap;
}

.hoverLakeBright_nav-label {
    padding:3px 10px;
    position:relative;
}


.hoverLakeBright_parent-li > .hoverLakeBright_nav-label{
    border-top:3px solid transparent;
    color: #333;
    font-size:16px;
    font-weight: bold;
}

.hoverLakeBright_parent-li > .hoverLakeBright_nav-label:hover {
    color: #0654ba;
}

.hoverLakeBright_parent-li > .hoverLakeBright_nav-label a {
    color: #333;
}

.hoverLakeBright_parent-li > .hoverLakeBright_nav-label:hover a {
    color: #0654ba;
}

.hoverLakeBright_parent-li > .hoverLakeBright_active,
.hoverLakeBright_parent-li > .hoverLakeBright_active a {
    color: #3880ba;
    font-size:16px;
    font-weight: bold;
}

.hoverLakeBright_child-li > .hoverLakeBright_nav-label{
    margin-left:-7px;
    border-left: 3px solid transparent;
    color: #4c4c4c;
    font-size:14px;
    font-weight: bold;
}

.hoverLakeBright_child-li > .hoverLakeBright_nav-label:hover {
    color: #1467ba;
}

.hoverLakeBright_child-li > .hoverLakeBright_nav-label a {
    color: #4c4c4c;
}
.hoverLakeBright_child-li > .hoverLakeBright_nav-label:hover a {
    color: #1467ba;
}

.hoverLakeBright_child-li > .hoverLakeBright_active,
.hoverLakeBright_child-li > .hoverLakeBright_active a {
    color: #095dba;
    font-size:14px;
    font-weight: bold;
}

.hoverLakeBright_label-parent {
    border:1px solid transparent;
    z-index:6;
}

.hoverLakeBright_isOpened > .hoverLakeBright_label-parent  {
    border:1px solid #ccc;
    border-top:3px solid #0654ba;
    border-bottom:1px solid transparent;
    box-shadow: 0.2em 0 0 #ccc;
    background:#efefef;
    color: #0654ba;
    z-index:6;
}

.hoverLakeBright_isOpened > .hoverLakeBright_label-parent a{
    color: #0654ba;
}

.hoverLakeBright_isOpened > .hoverLakeBright_label-parent:hover {
    color: #0654ba;
}

.hoverLakeBright_isOpened > .hoverLakeBright_label-parent:hover a {
    color: #0654ba;
}


.hoverLakeBright_label-child {
    z-index:8;
    border:1px solid transparent;
}

.hoverLakeBright_isOpened > .hoverLakeBright_label-child {
    border:1px solid #ccc;
    border-right: 1px solid transparent;
    border-left: 3px solid #1467ba;
    box-shadow: 0 0.2em 0 #bdbdbd;
    color: #1467ba;
    background: #efefef;
}

.hoverLakeBright_isOpened > .hoverLakeBright_label-child a{
    color: #1467ba;
}

.hoverLakeBright_isOpened > .hoverLakeBright_label-child:hover {
    color: #1467ba;
}

.hoverLakeBright_isOpened > .hoverLakeBright_label-child:hover a {
    color: #1467ba;
}




.hoverLakeBright_nav-content {
    padding:3px 10px;
    border:1px solid #ccc;
    background:#efefef;
    margin-top:-1px;
    position:absolute;
    box-shadow: 0.2em 0.2em 0.2em #ccc;
    z-index:5;
}

.hoverLakeBright_content-child {
    left:100%;
    top:1px;
    margin-left:-2px;
    z-index:7
}

.hoverLakeBright_child-li .hoverLakeBright_menu-icon {
    margin-right:5px;
}
.hoverLakeBright_parent-li .hoverLakeBright_menu-icon {
    margin-right:5px;
}

